<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center p-3 bg-opacity-75" style="background: linear-gradient(to right, #FFCAD4, #99b3d4, #FFCAD4); height: 80px; ">
        <IMG src="assets/logo.png" height="40px">
        <h2>ACADEMY OF TECHNOLOGY</h2>
    </div>
    <div class="main">
        <a  href="">
            <div class="container" id="c1">
                <div class="logo">
                    <i class="bi bi-gear-fill"></i>
                </div>
                <div class="text">
                    <h2>Administrator</h2>
                    <h4>Click here to login ......</h4>
                </div>
            </div>
        </a>
        <a  href="studentlogin">
            <div class="container" id="c2">
                <div class="logo">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="text">
                    <h2>Student</h2>
                    <h4>Click here to login ......</h4>
                </div>
            </div>
        </a>
        <a  href="teacherlogin">
            <div class="container" id="c3">
                <div class="logo">
                    <i class="fa-solid fa-user-tie"></i>
                </div>
                <div class="text">
                    <h2>Teacher</h2>
                    <h4>Click here to login ......</h4>
                </div>
            </div>
        </a>
        <a  href="">
            <div class="container" id="c4">
                <div class="logo">
                    <i class="fa-regular fa-clipboard"></i>
                </div>
                <div class="text">
                    <h2>Result</h2>
                    <h4>Click here to view</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="footer">
        <h3>All Rights Reserved&nbsp;<i class="fa-regular fa-copyright"></i>&nbsp;2024-25</h3>
    </div>
</body>
</html>