.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 72, 72, 0.9); /* Semi-transparent black background */
    z-index: 10; /* Ensure the backdrop appears above other elements */
}

/* Styling for the password popup */
.password-popup {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%; /* Position the popup vertically in the middle */
    left: 50%; /* Position the popup horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the popup precisely */
    background-color: #d4c5c5; /* Background color for the popup */
    padding: 20px;
    border-radius: 8px;
    z-index: 11; /* Ensure the popup appears above the backdrop */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow for a raised effect */
    width: 300px;
    height: 200px;
}

input{
    outline: none;
    border: none;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 10px;
}

.submit{
    width: 110px;
    height: 40px;
    margin: 6px 20px;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 65, 117);
    color: beige;
    transition: all ease 1s;
}

.submit:hover{
    background-color: #ff5100;
    color: #ffff;
}